body {
    background-color: #111;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background-color: #ff0000;
    padding: 15px;
}

/* Hii inapanga filamu kulingana na ukubwa wa screen ya simu yako */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 15px;
}

.movie-card {
    background: #222;
    padding: 10px;
    border-radius: 10px;
}

.movie-card img {
    width: 100%;
    border-radius: 5px;
}

.play-btn {
    background: red;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}
